h1 {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg');
  color: #f0e68c;
  font-family: Helvetica;
  font-size: 100px;
  font-weight:bold;
  text-align: center;
}

h2 {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

#brushes h2 {
  background-color: #00fa9a;
}

#frames h2 {
  background-color: #f08080;
}

#paint h2 {
  background-color: #00bfff;
}

.price{
  color: #008080;
  font-family: Helvetica;
  font-weight: bold;
}
